# Django setting module and environment
DJANGO_SETTINGS_MODULE=xxxx
DJANGO_ENV=xxxx
DJANGO_SECRET_KEY_DEV=xxxx
DJANGO_SECRET_KEY_PROD=xxxx

# Database settings
DB_NAME=xxxx
DB_USER=xxxx
DB_PASSWORD=xxxx
DB_HOST=xxxx
DB_PORT=xxxx